body {
background: #2effbd;
color: #000;
}
.head {
background: #a6cc7a;
width:200px;
text-align: center;
padding: 2px 0px 1px 2px;
margin: 0px;
font-family: Coursive;
border-radius: 5px 5px 0 0;
font-size: 18px;
}
.foot {
background: #a6cc7a;
width:200px;
text-align: center;
padding: 1px 0px 2px 0px;
margin: 0px;
font-size: 14px;

border-radius: 0 0 5px 5px;
}
.msg {
background: #e6f0da;
width:200px;
text-align: left;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 16px;
}
form {
background: #fff;
width:200px;
text-align: left;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 16px;
}
